{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    // Stage 0
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-syntax-import-attributes"
  ]
}
