name: e2e prod test
on:
  push:
    branches:
      - master
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  pull_request:
    branches:
      - master
jobs:
  test:
    name: Run tests and publish test coverage
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/    
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'  
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm run test_prod
        env:
           API_KEY: ${{ secrets.API_KEY }}
           API_SECRET: ${{ secrets.API_SECRET }}
           PRODUCT_API_KEY: ${{ secrets.PRODUCT_API_KEY }}
           PRODUCT_API_SECRET: ${{ secrets.PRODUCT_API_SECRET }}